{{#md-navbar name='FESTIVAL PLAY' class='navigation pink darken-4'}}
    {{#if model}}
        {{#link-to 'user' model.id tagname='li'}}
            {{model.username}}
            <img src='{{model.image_url}}' class='circle'>
        {{/link-to}}
    {{else}}
        <li {{action 'login'}}>Login to Spotify</li>
    {{/if}}
{{/md-navbar}}
{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}