{{outlet}}


<div id="home-container"></div>

{{#md-btn
    action='openModal'
    buttonType='floating'
    class='btn-large fixed-floating'}}
    <i class="material-icons left">playlist_add</i>
{{/md-btn}}

{{#if isModalOpen}}
    {{#md-modal close='closeModal'}}
        {{#if step1}}
            <form {{action 'step2' on="submit"}}>
                <div class="modal-content">
                    <h4>Step 1: Search for an event by title</h4>
                    <div class="input-field">
                        <i class="material-icons input-search">search</i>
                        {{input value=search type="search" required=true}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat agree-button" type="submit">
                        Next
                    </button>
                    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                        Cancel
                    </a>
                </div>
            </form>
        {{/if}}

        {{#if step2}}
            <div class="modal-content">
                <h4>Step 2: Select an event</h4>
                {{#if eventResults}}
                    {{#md-collection content=eventResults as |event index|}}
                        <div class='collection-item avatar {{if event.selected 'active'}}' {{action 'selectEvent' event}}>
                            <span class="title">{{event.title}}</span>
                            <p>{{event.date}}<br>{{event.location}}</p>
                        </div>
                    {{/md-collection}}
                {{else}}
                    {{md-loader}}
                    If you've been waiting for a while, try being more specific with your search!
                {{/if}}
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn-flat agree-button" {{action 'step3'}}>
                    Next
                </a>
                <a class="modal-action modal-close waves-effect waves-blue btn-flat cancel-button" {{action 'step1'}}>
                    Back
                </a>
                <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                    Cancel
                </a>
            </div>
        {{/if}}

        {{#if step3}}
            <div class="modal-content">
                <h4>Step 3: Select the artists</h4>
                <div class="artists">
                    {{#if artistResults}}
                        {{md-checks
                        selection=selectedArtists
                        content=artistResults}}
                    {{else}}
                        {{md-loader}}
                    {{/if}}
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn-flat agree-button" {{action 'step4'}}>
                    Next
                </a>
                <a class="modal-action modal-close waves-effect waves-blue btn-flat cancel-button" {{action 'step2'}}>
                    Back
                </a>
                <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                    Cancel
                </a>
            </div>
        {{/if}}

        {{#if step4}}
            <form {{action 'createPlaylist' on="submit"}}>
                <div class="modal-content">
                    <h4>Step 4: Settings</h4>
                    Playlist title:
                    {{md-input class="col s12 input-adjust" value=playlistTitle validate=true required=true}}
                    Number of songs per artist:
                    <p class="range-field">
                        {{input value=range type="range" min="1" max="10" }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat agree-button" type="submit">
                        Create Playlist
                    </button>
                    <a class="modal-action modal-close waves-effect waves-blue btn-flat cancel-button" {{action 'step3'}}>
                        Back
                    </a>
                    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                        Cancel
                    </a>
                </div>
            </form>
        {{/if}}

        {{#if creating}}
            <div class="modal-content">
                <h4>{{progress}}</h4>
                {{#if complete}}
                    <b>You can view your playlist on our home page or in your Spotify account!</b><br>
                {{else}}
                    {{md-loader}}
                {{/if}}
                {{#each errorMessages as |error|}}
                    {{error}}<br>
                {{/each}}
                {{#if complete}}
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                            Close
                        </a>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    {{/md-modal}}
{{/if}}